.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
}

.catalog {
  height: 100%;
  margin: 0 5% 48px 5px;
  position: sticky;
  top: 100px;
}

.sidebar {
  position: relative;
  background-color: #fff;
  padding: 5px 15px 15px 15px;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
  display: block;
  width: 100%;
}

.sidebar h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.inp {
  display: flex;
}

.inp input {
  margin-right: 20px;
  margin-top: 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
  max-width: 130px;
  height: 40px;
}

.inp input:last-child {
  margin-right: 0;
}

.check {
  position: relative;
  margin: 1rem 0 1rem 0.5rem;
}

.check:last-child {
  margin: 1rem 0 0 0.5rem;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__label {
  padding-left: 25px;
  font-size: 1rem;
  color: #444;
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;
  transition: background .1s linear, border .1s linear;
}

.checkbox__label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: url("../../assets/check.svg") no-repeat;
  background-size: 12px 12px;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: 2;
  transition: opacity .1s linear;
}

.checkbox__input:checked+.checkbox__label:before {
  background-color: #ffb217;
  border-color: #e79a00;
}

.checkbox__input:checked+.checkbox__label:after {
  opacity: 1;
}

.title_category {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 700;
}

.category {
  margin-bottom: 20px;
}

.product_list {
  position: relative;
}

.product_list_content {
  box-sizing: border-box;
  display: block;
}

.product_catalog {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.product {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) 170px;
  grid-template-rows: 1fr 0;
  max-width: 1000px;
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .16);
  padding: 24px 16px;
  margin-bottom: 20px;
  color: #444;
}

.product:last-child {
  margin-bottom: 50px;
}

.product:hover {
  color: #4C708F;
  background-color: #ffff;
  box-shadow: 0 0 3px #7e7e7e;
}

.image {
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.auction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}

.price {
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}

.discription {
  font-size: 16px;
}

.date_end {
  width: 140px;
  margin-top: 20px;
}

.date_end span {
  font-size: 14px;
  font-weight: 700;

}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  font-size: 13px;
  font-weight: 200;
  height: 35px;
  background-color: #ffff;
  color: #2D2D2D;
  border-radius: 10px;
  border: 1px solid #2D2D2D;
  cursor: pointer;
}

.btn button:hover {
  color: #ffff;
  border: 1px solid #61739c;
  background-color: #61739c;
}

.title {
  margin: 60px 0;
  vertical-align: text-top;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: #151528;
}

@media (max-height: 840px) {
  .catalog {
    direction: rtl;
    margin-bottom: 45px;
  }

  .sidebar {
    overflow-y: auto;
    height: 600px;
    direction: rtl;
  }

  .sidebar div {
    direction: ltr;
    margin-bottom: 20px;
  }

  .sidebar div:first-child,
  .sidebar div:last-child {
    margin-bottom: 0;
  }

  .sidebar h3 {
    direction: ltr;
  }

  .sidebar::-webkit-scrollbar {
    width: 10px;
  }

  .sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #1f35c886, #081d3f7d);
  }
}