.contener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-bottom: 50px;
}

.contant {
  display: flex;
  margin-top: 40px;
}

.title {
  display: flex;
  margin-top: 80px;
  margin-left: 4px;
  flex-direction: column;
}

.photo {
  display: flex;
  padding-left: 15px;
}

.photo img {
 max-width: 180px;
  max-height: 210px;
}

.info {
  display: flex;
}

.product {
  display: flex;
  flex-direction: column;
  max-width: 850px;
  border: 1px solid #ffff;
  align-items: center;
  text-align: left;
  padding: 25px 25px;
  margin-bottom: 15px;
  box-sizing: border-box;
  transition: box-shadow 0.15s ease-in-out 0s;
}

.product:hover {
  border: 1px solid #ffff;
  background-color: #ffff;
  box-shadow:
    0 0 6px #bbbbbb,
    0 0 8px #dddddd,
    0 0 12px #ffff;
}

.card {
  color: #2D2D2D;
  display: flex;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  color: #4C708F;
}

.name {
  font-size: 20.5px;
  font-weight: 600;
  max-height: 95px;
}

.price {
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}

.discrip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 30px;
  font-size: 15px;
}

.detail {
  margin-bottom: 35px;
  max-height: 70px;
}

.auction {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-left: 50px;
}

.date {
  display: block;
  width: 140px;
  margin-top: 20px;
}

.end {
  display: inline-block;
  font-weight: lighter;
  width: 150px;
  font-size: 14px;
}

.end span {
  font-weight: 700;
}

.btn {
  margin-top: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  font-size: 13px;
  font-weight: 200;
  height: 35px;
  background-color: #ffff;
  color: #2D2D2D;
  border-radius: 10px;
  border: 1px solid #2D2D2D;
  cursor: pointer;
}

.btn button:hover {
  color: #ffff;
  border: 1px solid #61739c;
  background-color: #61739c;
}

.full {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 0 15px 20px 15px;
  margin-bottom: 20px;
  margin-left: 4px;
  border-radius: 12px;
  box-shadow:
  0 0 6px #bbbbbb,
  0 0 8px #dddddd;
  position: sticky;
  top: 110px;
}

.sidebar h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.inp {
  display: flex;
}

.inp input {
  display: flex;
  margin-right: 20px;
  margin-top: 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  font-size: 14px;
  max-width: 200px;
  min-width: 90px;
  width: 100%;
  height: 40px;
}

.check {
  position: relative;
  margin: 1rem 0 1rem 0.5rem;
}

.check:last-child {
  margin: 1rem 0 0 0.5rem;
}

.checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__label {
  padding-left: 25px;

  font-size: 1rem;
  color: #444;
  cursor: pointer;
}

.checkbox__label:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 3px;

  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;

  transition: background .1s linear, border .1s linear;
}

.checkbox__label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;

  background: url("../../assets/check.svg") no-repeat;
  background-size: 12px 12px;
  opacity: 0;

  position: absolute;
  top: 5px;
  left: 3px;
  z-index: 2;

  transition: opacity .1s linear;
}

.checkbox__input:checked+.checkbox__label:before {
  background-color: #ffb217;
  border-color: #e79a00;
}

.checkbox__input:checked+.checkbox__label:after {
  opacity: 1;
}

.titlecategory {
  color: #4e4e4e;
  font-size: 16px;
  font-weight: 700;
  margin-top: 35px;
}

.titlecategory:first-child {
  margin-top: 10px;
}

@media (max-height: 840px) {
  .wrapper {
    direction: rtl;
    margin-bottom: 45px;
  }

  .sidebar {
    overflow-y: auto;
    height: 600px;
    direction: rtl;
  }
  
  .sidebar div {
    direction: ltr;
    margin-bottom: 20px;
  }

  .sidebar div:first-child,
  .sidebar div:last-child {
    margin-bottom: 0;
  }

  .sidebar h3 {
    direction: ltr;
  }

  .sidebar::-webkit-scrollbar {
    width: 10px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #1f35c886, #081d3f7d);
  }
}