.wrapper {
  display: flex;
  flex-direction: column;
}

.contant {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.title {
  margin: 60px 0;
  vertical-align: text-top;
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  color: #151528;
}

.photo {
  margin-left: 15px;
}

.photo img {
  width: 150px;
  height: 180px;
}

.product {
  min-width: calc(25% - 0px);
  max-width: calc(25% - 0px);
  margin-bottom: 30px;
  align-items: center;
  text-align: left;
  border: none;
  box-sizing: border-box;
  transition: box-shadow 0.15s ease-in-out 0s;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #2D2D2D;
  margin: 0 auto;
  max-width: 250px;
  padding: 25px 25px;
}

.card:hover {
  color: #4C708F;
  background-color: #ffff;
  box-shadow:
    0 0 6px #bbbbbb,
    0 0 8px #dddddd,
    0 0 12px #ffff;
}

.name {
  font-size: 18px;
  height: 90px;
  width: 100%;
  margin-top: 10px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 100%;
  background-color: #f8a500;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 20px;
  color: #ffff;
}

.price {
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .photo {
    margin-left: 0;
  }

  .title {
    font-size: 30px;
  }

  .name {
    font-size: 17px;
  }

  .photo img {
    width: 140px;
    height: 170px;
  }

  .price {
    font-size: 21px;
  }

  .card_add {
    width: 38px;
    height: 38px;
    margin-right: 0;
  }

  .icon {
    font-size: 19px;
  }
}

@media (max-width: 993px) {
  .title {
    font-size: 28px;
    margin-top: 40px;
  }

  .product {
    min-width: calc(33.3333% - 0px);
    max-width: calc(33.3333% - 0px);
  }

  .name {
    font-size: 16px;
  }

  .photo img {
    width: 130px;
    height: 160px;
  }

  .price {
    font-size: 20px;
  }

  .card_add {
    width: 36px;
    height: 36px;
    margin-right: 0;
  }

  .icon {
    font-size: 18px;
  }
}

@media (max-width: 737px) {
  .title {
    font-size: 22px;
  }

  .name {
    font-size: 13px;
    height: 72px;
  }

  .photo img {
    width: 104px;
    height: 128px;
  }

  .price {
    font-size: 16px;
  }

  .card_add {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }

  .icon {
    font-size: 14px;
  }

  .card:hover {
    color: #4C708F;
    box-shadow: none;
  }
}

@media (max-width: 590px) {
  .title {
    font-size: 22px;
  }

  .product {
    min-width: calc(50% - 0px);
    max-width: calc(50% - 0px);
  }

  .name {
    font-size: 13px;
    height: 72px;
  }

  .photo img {
    width: 104px;
    height: 128px;
  }

  .price {
    font-size: 16px;
  }

  .card_add {
    width: 28px;
    height: 28px;
    margin-right: 0;
  }

  .icon {
    font-size: 14px;
  }
}