.contener {
  background-color: rgb(49, 57, 77);
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 15px 60px 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.color {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.color:hover {
  color: #a5bcf1;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.link {
  display: flex;
  align-items: center;
}

.num {
  margin-left: 40px;
  color: white;
}

.link a {
  display: flex;
  justify-content: flex-start;
}

.image {
  margin-left: -80px;
}

.image img {
  width: 300px;
}

@media (max-width: 992px) {
  .num {
    display: none;
  }

  .navbar {
    display: none;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .image {
    margin-left: 0px;
  }
}