a {
  text-decoration: none;
}

.contant {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
}

.serch__btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-right: 100px;
}

.catalogy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  font-size: 15px;
  font-weight: 200;
  height: 40px;
  background-color: #ffff;
  color: #2D2D2D;
  border-radius: 10px;
  border: 1px solid #2D2D2D;
}

.menu:hover {
  color: #ffff;
  border: 1px solid #61739c;
  background-color: #61739c;
}

.icon {
  margin-right: 7px;
}

.serch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.sub {
  position: relative;
  width: 100%;
  margin: 0 auto 10px auto;
  background: #ffff;
  border-bottom: 1px solid #31394D;
}

.sub:hover {
  border-bottom: 1px solid #61739c;
}

.btn__serch {
  border: none;
  outline: none;
  background: #ffff;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.serch__icon {
  margin-top: 10px;
  font-size: 17px;
  color: #31394D;
}

.serch__icon:hover {
  color: #61739c;
}


.inp {
  border: none;
  width: 92%;
  outline: none;
  background: transparent;
  font-size: 16px;
  height: 43px;
  font-weight: 400;
  color: #151528;
  padding-left: 10px;
}

.inp[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.nav {
  display: flex;
  align-items: end;
}

.item {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  color: #31394D;
  font-size: 20px;
}

.item:last-child {
  margin-right: 0;
}

.item:hover {
  color: #61739c;
}

.title {
  font-size: 15px;
}

/* @media (max-width: 1345px) {
  .sub input {
    width: 470px;
  }

  .sub {
    width: 470px;
  }
} */

/* @media (max-width: 1200px) {
  .contant {
    display: none;
  }
} */