.colorfooter {
  background: rgb(49, 57, 77);
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
}

.logo img {
  width: 100%;
  max-width: 350px;
}

.mobile {
  background-color: rgb(49, 57, 77);
  width: 100vw;
  display: none;
  position: fixed;
  bottom: 0px;
  box-shadow:
    0 0 8px #202046,
    0 0 10px #353f75;
}

.list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  height: 40px;
}

.item p {
  color: #ffff;
  font-size: 12px;
}

.icon {
  color: #ffff;
  font-size: 18px;
  margin-bottom: -10px;
}

@media (max-width: 1200px) {
  .mobile {
    display: block;
  }

  .colorfooter {
    padding-bottom: 100px;
  }
}